.footer {
  position: fixed;
  height: 30px;
  left: 0;
  right: 0;
  bottom: 0;
  width:100%;
  background: #DDD6C9;
  text-align: center;
  border: 1px solid #516151;

}

.footer > span {
  background: #DDD6C9;
  font-size: large;
}
